<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Get the time for sunrise and sunset">
    <link rel="author" href="Martin Dilling-Hansen">
    <title>{% block title %}{% endblock %} | Black Heron</title>

    <!-- Styles -->
    <link href="{{ base_url }}/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ base_url }}/assets/css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="jumbotron header-top">
        <div class="container">
            <h1>Black Heron</h1>
        </div>
    </div>
    
    <!-- Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="well well-sm">
                    {% for navItem in topNav %}
                        <a href="{{ base_url }}{{ navItem.uri }}" type="button" class="btn {% if navItem.active %}btn-primary{% else %}btn-default{% endif %} btn-xs">
                            {{ navItem.text }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>

</body>
</html>
